<div class="navbar navbar-expand-sm sticky-top">
  <div class="top-main-container">
    <h1>Elliot's Cocktails</h1>
  </div>
</div>

<% num = 0 %>

<div class="main-container">
  <div class="cards">
    <% num += 1 %>
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail do %>
        <div class="card-category"style="
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"><%=cocktail.name%></div>
      <% end %>
    <% end %>
  </div>

<p class="add-cocktail"><%= link_to "add a cocktail", new_cocktail_path %></p>
</div>

<div class="list-item"> </div>
