<div class="navbar navbar-expand-sm sticky-top">
  <div class="top-main-container">
    <h1>Elliot's Cocktails</h1>
  </div>
</div>

<div class="main-container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail do %>
        <div class="card-category"><%=cocktail.name%></div>
      <% end %>
    <% end %>
  </div>

<p class="add-cocktail"><%= link_to "add a cocktail", new_cocktail_path %></p>
</div>

<%= cl_image_tag("mx2tnnwemox0ncdjkwmt", width: 400, height: 300, crop: :fill) %>

<div class="list-item"> </div>
